*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background: var(--color-bg);
    overflow-x: hidden;
}

a{
    color: unset;
    text-decoration: none;
}

.gradient__bg{
    background:-moz-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    background:-webkit-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    background:-o-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    background:-ms-radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
    background:radial-gradient(circle at 3% 25%, #002853 0%, #040C18 100%);
}
.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section__padding{
    padding: 4rem 6rem;
}
.section__margin{
    margin: 4rem 6rem;
}
.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}
 @-webkit-keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes swing-in-top-fwd {
    0% {
      -webkit-transform: rotateX(-100deg);
              transform: rotateX(-100deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  

@media screen and (max-width: 768px){
    .section__padding{
        padding: 4rem;
    }
    .section__margin{
        margin: 4rem;
    }
}
@media screen and (max-width: 550px){
    .section__padding{
        padding: 1.5rem;
    }
    .section__margin{
        margin: 1.5rem;
    }
}